<p id="notice"><%= notice %></p>

<body bgcolor="#ff3333">
<tr>
    <a href="https://pure-ridge-95976.herokuapp.com/tasks">View All -</a>
    <a href="https://pure-ridge-95976.herokuapp.com/tasks?completed=true"> View Complete -</a>
    <a href="https://pure-ridge-95976.herokuapp.com/tasks?completed=false"> View Incomplete</a>
<tr>

    
 
<%if @filter == "completed"%>
    
    <h1>Completed Tasks</h1>
<%elsif @filter == "incomplete"%>
    <h1>Incomplete Tasks</h1>
<%else%>

    <h1>Tasks</h1>

<%end%>


<table>
  <thead>
    
    <tr>
      <th>Description</th>
      <th>Completed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.description %></td>
        <td><%= task.completed %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'You sure about this bro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</body>

<br>


<%= link_to 'New Task', new_task_path %>
    
